.pagingArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.btnStyle {
  border: none;
  padding: 8px;
  border-radius: 0.5rem;
  background: transparent;
  color: black;
  font-size: 1rem;
}
.btnStyle:hover {
  background: plum;
  cursor: pointer;
  transform: translateY(-2px);
}

.btnStyle:disabled {
  display: none;
}
