@font-face {
  font-family: "establishnaneunyahaeginsaOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishnaneunyahaeginsaOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "establishnaneunyahaeginsaOTF";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
